
.pink-bar {
    background-color: pink;
    height: 20px;
}

.image-container {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.image-container::before {
    content: "SERVICES "
    "PORTFOLIO"
    "ABOUT"
    "TEAM"
    "CONTACT";
    letter-spacing: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.welcome-message, .large-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.large-text {
    top: 70%;
    font-size: 60px;
}

.button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}


